.section__bestsellers{
	padding: 95px 0 145px;

	&--title{
		margin: 0 0 50px 0;
		text-align: center;
		font-size: 40px;
		color: $light-black;
	}

	.btn-show__more{
		display: block;
		margin: 60px auto 0 auto;
		padding: 10px 100px;
		@include font($muli-regular, 200);
		font-size: 31px;
		background: transparent;
		border: 1px solid $light-black;
		border-radius: 0;
		color: $light-black;
		@include ease($easeInOut-1s, border, color, background);

			&:hover{
				background: $light-green;
				color: $milk-white;
				border: 1px solid $color-card;
				@include ease($easeInOut-1s, border, color, background);
			}
	}

	@media screen and (max-width: 768px) {
		.row__mobile{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.mobile__col{
			flex: 0 0 45%;
			max-width: 45%;
			margin-bottom: 30px;
		}

		.product__card{

			.card__header{

				&-images{
					max-width: 100%;
				}
			}
		}

		.btn-show__more{
			margin-top: 30px;
		}
	}

	@media screen and (max-width: 425px) {
		padding: 35px 0 130px;
		.row__mobile{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.mobile__col{
			flex: 0 0 80%;
			max-width: 80%;
			margin-bottom: 30px;
		}

		.product__card{

			.card__header{

				&-images{
					max-width: 100%;
				}
			}
		}

		.btn-show__more{
			margin-top: 30px;
		}
	}

	@media screen and (max-width: 320px) {
		.mobile__col{
			flex: 0 0 90%;
			max-width: 90%;
			margin-bottom: 20px;
		}

		.btn-show__more{
			font-size: 18px;
			padding: 10px 22px;
			margin-top: 20px;
		}
	}
}