.footer{
	height: 430px;
	position: relative;
	overflow: hidden;
	background-color: $milk-white;
		&::before{
			content: '';
			width: 438px;
			height: 386px;
			display: inline-block;
			position: absolute;
			left: -105px;
			bottom: -65px;
			background: url('../img/foot-left.png') no-repeat;
		}

		&::after{
			content: '';
			width: 431px;
			height: 591px;
			display: inline-block;
			position: absolute;
			right: -36px;
			bottom: -185px;
			background: url('../img/foot-right.png') no-repeat;
		}
}

.footer__content{
	display: flex;
	align-items: center;
	justify-content: space-between;

	&--fam,
	&--farm{
		@include font($ovo-regular, 600);
		font-size: 60px;
		color: $farm-name;
	}

	&--addr{
		@include font($muli-regular, 600);
		text-transform: uppercase;
		font-size: 25px;
		color: $light-black;
	}

	&--location{
		@include font($muli-regular, 500);
		font-size: 20px;
		color: $text-color;
	}

	&--btn{
		padding: 22px 0 22px;
		width: 100%;
		border-radius: 0;
		border: 1px solid transparent;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 30px;
		@include font($muli-regular, 400);
		color: $milk-white;
		background: $dark-blood;
		@include ease($easeInOut-2s, background, color, border);
		&:hover{
			border: 1px solid $dark-blood;
			background: transparent;
			color: $text-color;
			@include ease($easeIn-1s, background, color, border);
		}
	}

	.footer__mod{
		width: 100%;
	}

	.box__name,
	.box__addr,
	.box__btn{
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.box__name,
	.box__addr{
		flex-direction: column;
	}
	
	.box__addr{
		align-items: flex-start;
		justify-content: space-around;
	}

	@media screen and (max-width: 768px) {
		height: auto;
		padding: 45px 0 25px;
		&::before{
			width: 125px;
			height: 110px;
			left: -22px;
			bottom: -10px;
			background: url('../img/foot-left-mini.png') no-repeat;
		}

		&::after{
			width: 90px;
			height: 123px;
			right: -10px;
			bottom: -10px;
			background: url('../img/foot-right-mini.png') no-repeat;
		}

		.row-mobile__mod{
			display: flex;
		}

		.col-modile__mod{
			flex: 0 0 32%;
			max-width: 32%;
		}

		&--fam,
		&--farm{
			font-size: 30px;
		}

		&--addr{
			font-size: 22px;
		}

		&--location{
			font-size: 16px;
		}

		&--btn{
			padding: 8px 12px;
			font-size: 14px;
		}
	}

	@media screen and (max-width: 425px) {
		height: auto;
		padding: 30px 0 22px;

		.box__btn{
			margin-top: 12px;
		}

		.row-mobile__mod{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.col-modile__mod{
			flex: 0 0 50%;
			max-width: 50%;
		}

		&--fam,
		&--farm{
			font-size: 30px;
		}

		&--addr{
			font-size: 22px;
		}

		&--location{
			font-size: 16px;
		}

		&--btn{
			padding: 8px 12px;
			font-size: 14px;
		}
	}

	@media screen and (max-width: 375px) {
		height: auto;
		padding: 4px 0 24px;

		&::before{
			left: 30%;
			bottom: 0;
		}

		&::after{
			display: none;
		}

		.box__btn{
			margin-top: 12px;
		}

		.box__name{
			margin-bottom: 10px;
		}

		.row-mobile__mod{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.col-modile__mod{
			flex: 0 0 80%;
			max-width: 80%;
		}

		&--fam,
		&--farm{
			font-size: 22px;
		}

		&--addr{
			font-size: 16px;
		}

		&--location{
			margin-top: 6px;
			font-size: 14px;
		}

		&--btn{
			padding: 8px 12px;
			font-size: 14px;
		}
	}
}