.section__map{
	padding: 88px 0 102px;

}

.map__content{

	&--title{
		text-align: center;
		margin-bottom: 55px;
		@include font($muli-regular, 600);
		font-size: 40px;
		color: $light-black;
	}

	&--iframe{
		width: 100%;
		height: 402px;
		position: relative;
		background: url('../img/map.jpg') no-repeat;

		.map-tag{
			&::before{
				content: '';
				width: 37px;
				height: 54px;
				position: absolute;
				top: 42%;
				left: 37.4%;
				display: inline-block;
				background: url('../img/map-tag.png') no-repeat;
			}
		}
	}

	.map-adress{
		max-width: 455px;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 48px 45px 54px 45px;
		position: relative;
		z-index: 10;
		bottom: -56px;
		overflow: hidden;
		margin: 0 0 0 auto;
		background: $ghost-green;

			&::before{
				content: '';
				z-index: -1;
				position: absolute;
				right: -95px;
				bottom: -32px;
				width: 365px;
				height: 215px;
				display: inline-block;
				background: url('../img/map-icon.png') no-repeat;
			}
		
		&__title{
			@include font($muli-regular, 500);
			font-size: 32px;
			color: $light-black;
			margin-bottom: 32px;
		}

		&__lists{}
		
		&__li{
			display: flex;
			justify-content: space-between;
			margin-bottom: 22px;
			@include font($muli-regular, 500);
			font-size: 20px;
			color: $light-black;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	@media screen and (max-width: 768px) {
		&--title{
			display: none;
		}

		&--iframe{
			background: transparent;
			height: auto;
			.map-tag{
				display: none;
			}
		}

		.map-adress{
			margin: 0 auto;
		}
	}
}