.section__review{
	
	.col-review__mod{
		margin-bottom: 85px;
		height: 380px;
	}

	.review__content{

		&--title{
			margin: 0 0 50px 0;
			text-align: center;
			font-size: 40px;
			color: $light-black;
		}

		&--btn{
			display: block;
			padding: 10px 100px;
			margin: 0 auto 0 auto;
			border: 1px solid $light-black;
			border-radius: 0;
			font-size: 31px;
			@include font($muli-regular, 200);
			color: $light-black;
			@include ease($easeInOut-1s, border, color, background);

			&:hover{
				background: $light-green;
				color: $milk-white;
				border: 1px solid $color-card;
				@include ease($easeIn-2s, border, color, background);
			}
		}
	}

	@media screen and (max-width: 768px) {
		.mobile__row{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.col-review__mod{
			flex: 0 0 60%;
			max-width: 60%;
		}
	}

	@media screen and (max-width: 425px) {
		margin-top: 30px;
		.mobile__row{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		.col-review__mod{
			flex: 0 0 80%;
			max-width: 80%;
		}

		.review__card{
			padding: 20px 22px 30px 22px;

			&--foot{

				.people-avatar{
					left: -55px;
				}
			}
		}
	}

	@media screen and (max-width: 320px) {
		margin-top: 20px;
		.mobile__row{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		.col-review__mod{
			flex: 0 0 80%;
			max-width: 80%;
			padding-right: 8px;
			padding-left: 8px;
			height: 320px;
		}

		.review__card{
			padding: 16px 10px 20px 10px;
	
			&--ceo{
				font-size: 16px;
			}

			&--foot{

				.people-avatar{
					display: none;
				}
			}
		}
		
		.review__content{
			&--btn{
				font-size: 18px;
		    padding: 10px 22px;
		    margin-top: 0;
			}
		}
	}
}