.section__offer{
	height: 690px;

	
	&-background{
		background: url('../img/special-2.jpg') no-repeat;
		background-position: top;
	}

	.con-special__offer{
		position: relative;
		top: -100px;
		margin: 0 auto;
	}

	@media screen and (max-width: 768px) {
		.special__offer{
			padding: 45px 35px;
		}
	}

	@media screen and (max-width: 600px){
		.special__offer{
			padding: 25px 18px;

			&::before{
				width: 225px;
				height: 215px;
				bottom: -34px;
				right: -10px;
				background: url('../img/item-icon/fruit-carz-mini.png') no-repeat;
			}
				
				&--title,
				&--subtitle{
					font-size: 30px;
				}

				&--ceo{
					font-size: 18px;
				}

				&-button{
					padding: 15px 22px;
					font-size: 20px;
				}
		}
	}
}