.section__offer{
	height: 690px;

	
	&-background{
		background: url('../img/special-2.jpg') no-repeat;
		background-position: top;
	}

	.con-special__offer{
		position: relative;
		top: -100px;
		margin: 0 auto;
	}

	@media screen and (max-width: 768px) {
		.special__offer{
			padding: 45px 35px;
		}
	}
}