.section__special{
	margin-bottom: 177px;

	&-background{
		height: 700px;
		background: url('../img/special-left.jpg') no-repeat;
		background-position: left;
    background-size: contain;
	}

	.con-season__mode{
		margin: 72px 0 0 auto;
	}

	@media screen and (max-width: 768px) {
		.con-season__mode{
			margin: 40px auto;
			flex: 0 0 70%;
			max-width: 70%;
		}

		.season__sale{
			padding: 45px 35px;
		}
	}

	@media screen and (max-width: 600px){
		.season__sale{
			padding: 25px 18px;

			&::before{
				width: 120px;
				height: 126px;
				bottom: -34px;
				left: -10px;
				background: url('../img/item-icon/honey-mini.png') no-repeat;
			}

				&--title{
					font-size: 30px;
				}

				&--ceo{
					font-size: 18px;
				}

				&-button{
					padding: 15px 22px;
					font-size: 20px;
				}
		}
	}
}