.section__offer{
	height: 690px;

	
	&-background{
		background: url('../img/special-2.jpg') no-repeat;
		background-position: top;
	}

	.con-special__offer{
		position: relative;
		top: -100px;
		margin: 0 auto;
	}

	@media screen and (max-width: 768px) {
		.special__offer{
			padding: 45px 35px;
		}
	}

	@media screen and (max-width: 600px){
		.special__offer{
			padding: 25px 18px;

			&::before{
				width: 225px;
				height: 215px;
				bottom: -34px;
				right: -10px;
				background: url('../img/item-icon/fruit-carz-mini.png') no-repeat;
			}
				
				&--title,
				&--subtitle{
					font-size: 30px;
				}

				&--ceo{
					font-size: 18px;
				}

				&-button{
					padding: 15px 22px;
					font-size: 20px;
				}
		}
	}

	@media screen and (max-width: 425px){
		.special__offer{
			padding: 18px 16px;

			&::before{
				width: 120px;
				height: 126px;
				bottom: -40px;
				left: -24px;
				background: url('../img/item-icon/honey-mini.png') no-repeat;
			}

				&--title,
				&--subtitle{
					font-size: 26px;
				}

				&--ceo{
					margin: 18px 0 18px;
					font-size: 16px;
				}

				&-button{
					padding: 12px 18px;
					font-size: 18px;
				}
		}

		&-background{
			height: 450px;
			background-position: bottom;
			background-size: contain;
		}
	}

	@media screen and (max-width: 425px){
		.special__offer{
			padding: 18px 16px;

			&::before{
				width: 120px;
				height: 126px;
				bottom: -40px;
				left: -24px;
				background: url('../img/item-icon/honey-mini.png') no-repeat;
			}

				&--title,
				&--subtitle{
					font-size: 26px;
				}

				&--ceo{
					margin: 18px 0 18px;
					font-size: 16px;
				}

				&-button{
					padding: 12px 18px;
					font-size: 18px;
				}
		}

		&-background{
			height: auto;
			background: transparent;
		}
	}
}