.section__workers{
	padding: 128px 0 65px;
	width: 100%;


	.slider__owl{
		position: relative;
	
		&--item{
			max-width: 556px;
			width: 100%;
			object-fit: cover;
		}

		&--img{
			width: 100%;
			height: 250px;
		}

		.card__slide{
			max-width: 360px;
			width: 100%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 32px 8px 30px;
			position: relative;
	    bottom: 80px;
	    left: 17%;
			overflow: hidden;
			z-index: 10;
			background: $light-yellow;

			&-car{
				&::before{
					content: '';
					z-index: -1;
					position: absolute;
					bottom: -14px;
					left: -32px;
					width: 154px;
					height: 195px;
					background: url('../img/item-icon/car-icon.png') no-repeat;
				}
			}

			&-milt{
				&::before{
					content: '';
					z-index: -1;
					position: absolute;
					bottom: -22px;
					right: -32px;
					width: 126px;
					height: 169px;
					background: url('../img/item-icon/milt-icon.png') no-repeat;
				}
			}

				&--title{
					@include font($muli-regular, 600);
					font-size: 32px;
					color: $light-black;
				}

				&--link{
					@include font($muli-regular, 200);
					font-size: 20px;
					margin-top: 35px;
					text-decoration: underline;
					font-style: italic;
					color: $text-color;
				}
		}
	}

	.col-header__mod{
		margin: 0 auto;
	}

	&--header{
		margin-bottom: 85px;

		.section__header{
			text-align: center;
			&--title{
				@include font($muli-regular, 600);
				font-size: 40px;
				color: $light-black;
			}

			&--subtitleinfo{
				margin-top: 32px;
				display: inline-block;
				@include font($muli-regular, 200);
				font-size: 25px;
				color: $text-color;
			}
		}
	}
}