//Цвета в переменных

$white: #fff;
$milk-white: #f2f2f2;
$black: #000;
$light-black: #171717;

$light-green: #bdd358;
$ghost-green: #daefb3;
$ligth-orange: #fe5d26;
$light-yellow: #f2c078;

$blood: #d64550;
$dark-blood: #c7141d;

$text-color: #373737;

$farm-name: #81c14b;